<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fileWatcherConfigurationSection"
             type="FileWatcher.Configuration.FileWatcherConfigurationSection, FileWatcher"/>
  </configSections>
  
  <!-- <fileWatcherConfigurationSection configSource="UserSettings.config"/> -->
  <fileWatcherConfigurationSection appName="File wather" language="ru-RU">
    <folders>
      <folder name="курс рисования маслом" path="C:\Users\Tkacheva\Downloads\курсы\курс рисования маслом"></folder>
      <folder name="1 алоказия" path="C:\Users\Tkacheva\Downloads\курсы\курс рисования маслом\1 алоказия"></folder>
      <folder name="хлам" path="C:\Users\Tkacheva\Downloads\курсы\курс рисования маслом\хлам"></folder>
    </folders>
    <defaultFolder name="default" path="C:\Users\Tkacheva\Downloads\курсы\курс рисования маслом\default"></defaultFolder>

    <rules>
      <rule template="^.*\.(rar|ts)$" destination="C:\Users\Tkacheva\Downloads\курсы\курс рисования маслом" modifyRule="SerialNumber"></rule>
      <rule template="^.*\.(jpg|ts)$" destination="C:\Users\Tkacheva\Downloads\курсы\курс рисования маслом\1 алоказия" modifyRule="ModifyDate"></rule>
      <rule template="^.*\.(txt|pdf)$" destination="C:\Users\Tkacheva\Downloads\курсы\курс рисования маслом\хлам"></rule>
    </rules>
  </fileWatcherConfigurationSection>
  
</configuration>